@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&display=swap&subset=latin-ext');
/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=latin-ext');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* font-family: 'Indie Flower', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #ef4c23;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 2000px;
  overflow: hidden;
}

.astronautHeader {
  max-width: 2000px;
}

body {
  font-size: 10px;
  width: 100%;
  height: 300vh;
}

@import "susy";
@import "compass/reset";

.stars,
.starsAll,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.starsAll {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99900;
}

.stars {
  z-index: 0;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.starsAll {
  z-index: -10;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling {
  z-index: -44;
  background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: -2;
  background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@keyframes astronautHeader {

  100% {
    transform: translate(10%, 8%);
  }
}

@keyframes circleOut {

  80% {
    transform: scale(3);
  }

  100% {
    opacity: 0;
  }

}

@keyframes slideDown {

  100% {
    transform: translate(0, 150%);
  }

}

/* ANIMATION ROCKET */
@keyframes opacityBgc {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 1000px;
  }

}


@keyframes engineSmoke {
  0% {}


  60% {
    width: 18px;
  }

  100% {}

}

@keyframes animateEngineFire {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1deg);
  }
}

@keyframes greyCloudsRocket {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }


  60% {
    opacity: .9;
    transform: translate(30%, 5%);
  }

  100% {
    opacity: 0;
    transform: translate(10%, 0);
  }

}

/* ANIMATION PROJECTS */
@keyframes greyCloudsStaticLeft {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }


  60% {
    opacity: .9;
    transform: translate(-3%, 1%);
  }

  100% {
    opacity: 0;
    transform: translate(-2%, 0);
  }
}

@keyframes greyCloudsStaticRight {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }


  60% {
    opacity: .9;
    transform: translate(3%, 1%);
  }

  100% {
    opacity: 0;
    transform: translate(2%, 0);
  }
}

@keyframes zoomInImg {
  0% {
    min-width: 100%;
    min-height: 100%;
  }

  50% {
    min-width: 110%;
    min-height: 110%;
  }

  100% {
    min-width: 110%;
    min-height: 110%;
  }
}

@keyframes zoomOutImg {
  0% {
    min-width: 110%;
    min-height: 110%;
  }

  50% {
    min-width: 100%;
    min-height: 100%;
  }

  100% {
    min-width: 100%;
    min-height: 100%;
  }
}

@keyframes shaking {
  0% {
    transform: rotate(0);
  }

  56% {
    transform: rotate(0);
  }

  58% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(0deg);
  }

  62% {
    transform: rotate(-5deg);
  }

  64% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes clockFade2 {
  0% {
    opacity: 1;
  }


  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes clockFade {
  0% {
    opacity: 1;
  }


  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popUp {


  100% {
    transform: translate(0, 0);
  }
}

@keyframes popUpHide {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  99% {
    transform: translate(0, 100%);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes popUpHorizontal {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes popUpHideHorizontal {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  99% {
    transform: translate(100%, 0);
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.wrapper {
  min-width: 290px;
  min-height: 500px;
}


/* HAMBURGER MENU */
.hambPopup {
  display: none;
  position: fixed;
  width: 100%;
  height: 60%;
  z-index: 9999999;
  background-color: white;
}

.show {
  display: block;
}

.hambPopup ul {
  list-style: none;
}

.hambPopup li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  height: 12vh;
  position: relative;
  transition: 0.3s;
}

.hambPopup a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;
  line-height: 12vh;
}

.hambPopup li:hover {
  background-color: #ef4c23;
}

.hambPopup li:hover a {
  color: white;
}


.white {
  color: white !important;
}

.bgcTrans {
  background-color: black !important;
}

.bgcTrans:hover {
  background-color: #ef4c23 !important;
  border: 1px solid white !important;
}

.buttonBig span.off {
  display: none;
}

.transitionText {
  transition: 3s ease-in-out;
}

.opacityNone {
  transform: translate(0, -100%);
  opacity: 0;
}

header {
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
  min-width: 200px;

  @supports (-webkit-appearance:none) {
    .os-android & {
      min-height: calc(100vh - 56px);
    }
  }
}

.textArea {
  min-height: 100px;
  position: relative;
}

.clock .duration {
  padding: 5px;
}

.clock {
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  text-align: center;
  color: black;
  width: 100%;

}


.clock.white {
  color: white;
  animation: clockFade 2s;
}


.clock p.duration {
  display: inline-block;
  font-size: 8px;
  margin-bottom: -5px;
}


.clock span {
  display: inline-block;
  text-align: center;
  width: 25px;
  padding-bottom: 2%;
}

.animationAstronaut {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -3;
  background-color: black;
  width: 151vw;
  height: 151vw;
  border-radius: 50%;
}

.animationAstronaut .astronaut {
  top: 15%;
  right: 15%;
  position: absolute;
  height: 35%;
  animation: astronautHeader 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
  z-index: 1001;
}

.animationAstronaut .circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 150vw;
  position: absolute;
  z-index: 1002;
  opacity: 1;
}

.animationCircleOut {
  animation: circleOut 4s forwards;
}

.animationAstronaut .earth {
  top: 20%;
  left: 22%;
  position: absolute;
  height: 17%;
  z-index: 999;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0;
  text-align: center;
  padding: 10px 0;
  height: 45%;
}

.journey {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  white-space: nowrap;
  color: black;
}

.front {
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 15px;
  white-space: nowrap;
}

button.buttonBig {

  width: 150px;
  height: 45px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid #ef4c23;
  border-radius: 25px;
  letter-spacing: 2px;
  background-color: white;
  color: black;
  transition: .5s ease-in-out;
  outline: none;
  cursor: pointer;
  z-index: 990;
}

button.buttonBig:hover {
  background-color: #ef4c23;
  color: white;
}

button.white:hover {
  background-color: #ef4c23;
  color: white;
}



.slideDown {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  width: 150px;
  overflow: hidden;
  text-align: center;
}

.slideDown i {
  color: white;
  transform: scaleX(2);
  animation: slideDown 1.7s linear infinite;
}

ul.menu {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 31px;
  z-index: 999999999999;
  transition: .3s linear;
}

.hamburger {
  height: 31px;
  width: 70px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  border-radius: 15px 0 0 15px;
  transition: .3s linear;
  z-index: 999999999999;
}

.hamburger p {
  position: absolute;
  top: 7px;
  right: 6px;
  color: white;
  padding: 0 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: lowercase;
  transition: .3s;
}

.hamburger i {
  position: absolute;
  right: 14px;
  top: 8px;
  font-size: 16px;
  color: white;
  transition: .3s;
}

/* .hamburger:hover i,
p {
  background-color: c5c6c7;
  color: #ef4c23;
  transform: scale(1.1);
  cursor: pointer;
} */

@media (min-width: 280px) and (orientation: portrait) {

  .textArea {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 30px 30px 0 30px;
    height: 45%;
  }

  .journey {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    white-space: nowrap;
    color: black;
  }

  .front {
    font-family: 'Indie Flower', cursive;
    color: black;
    font-size: 18px;
    white-space: nowrap;
  }

  button.buttonBig {
    margin-top: 10px;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #ef4c23;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 990;
    min-height: 50px;
  }

  .animationAstronaut {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: -3;
    background-color: black;
    width: 121vw;
    height: 121vw;
    border-radius: 50%;
  }

  .animationAstronaut .astronaut {
    top: 22%;
    right: 15%;
    position: absolute;
    height: 35%;
    animation: astronautHeader 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
    z-index: 1001;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120vw;
    height: 120vw;
    position: absolute;
    z-index: 1002;
    opacity: 1;
  }

  .animationCircleOut {
    animation: circleOut 4s forwards;
  }

  .animationAstronaut .earth {
    top: 20%;
    left: 22%;
    position: absolute;
    height: 17%;
    z-index: 999;
  }

}

@media (min-width: 320px) and (min-height: 534px) and (orientation: portrait) {

  .animationAstronaut {
    width: 151vw;
    height: 151vw;
  }

  .animationAstronaut .circle {
    width: 150vw;
    height: 150vw;
  }

  .textArea {
    justify-content: center;
  }

  button.buttonBig {
    margin-top: 30px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {


  .journey {
    font-size: 100px;
  }

  .front {
    font-size: 35px;
  }

  .clock .duration {
    padding: 5px;
  }

  .clock {
    font-size: 20px;
  }

  .clock p.duration {
    font-size: 15px;
    margin-bottom: -5px;
  }

  .clock span {
    width: 50px;
    padding-bottom: 2%;
  }

  button.buttonBig {
    width: 300px;
    height: 80px;
    font-size: 32px;
    border: 2px solid #ef4c23;
    letter-spacing: 2px;
  }

  .animationAstronaut {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 131vw;
    height: 131vw;
  }


  .animationAstronaut .astronaut {
    top: 23%;
    right: 10%;
    height: 30%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130vw;
    height: 130vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 20%;
    height: 17%;
  }

  nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
  }

  .hamburger {
    width: 160px;
    height: 70px;
    line-height: 70px;
    background-color: black;
    z-index: 999999999999;
  }

  .hamburger p {
    top: 0;
    right: 30px;
    line-height: 70px;
    padding: 0 50px;
    font-size: 23px;
  }

  .hamburger i {
    top: -13px;
    right: 30px;
    line-height: 100px;
    font-size: 40px;
    color: white;

  }

}

@media (min-width: 1024px) and (orientation: portrait) {

  nav {
    background-color: transparent;
    height: 100px;
  }

  .hamburger {
    width: 200px;
    height: 100px;
    line-height: 100px;
    z-index: 999999999999;
  }

  .hamburger p {
    top: 10px;
    right: 50px;
    line-height: 80px;
    font-size: 30px;
  }

  .hamburger i {
    top: 5px;
    right: 40px;
    line-height: 100px;
    font-size: 50px;
  }

  .journey {
    font-size: 130px;
  }

  .front {
    font-size: 45px;
  }

  .clock .duration {
    padding: 5px;
  }

  .clock {
    font-size: 28px;
  }

  .clock p.duration {
    font-size: 18px;
    margin-bottom: -5px;
  }

  .clock span {
    width: 70px;
    padding-bottom: 1%;
  }

  button.buttonBig {
    width: 360px;
    height: 85px;
    font-size: 38px;
    border: 2px solid #ef4c23;
    letter-spacing: 2px;
    margin-top: 60px;
  }



}

@media (orientation: landscape) {

  .hambPopup {
    height: 80vh;
  }

  .hambPopup li {
    height: 16vh;
  }

  .hambPopup a {
    width: 100%;
    line-height: 16vh;
  }

  .textArea {
    justify-content: center;
    align-content: center;
    align-items: space-between;
    width: 45%;
    height: 100vh;
  }

  .journey {
    font-size: 40px;
  }

  .front {
    font-size: 14px;
  }

  button.buttonBig {
    width: 150px;
    height: 45px;
    font-size: 18px;
    margin-top: 20px;
  }

  .slideDown {
    left: 22.5%;
  }

  .slideDown i {
    color: black;
  }

  header {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .animationAstronaut {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    width: 49vw;
    height: 49vw;
  }


  .animationAstronaut .astronaut {
    top: 32%;
    right: 10%;
    height: 45%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48vw;
    height: 48vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 20%;
    height: 23%;
  }


}

@media (min-width: 1024px) and (orientation: landscape) {

  .hamburger,
  .hambPopup {
    display: none;
  }

  nav {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    z-index: 999999;
  }

  ul.menu {
    display: block;
    width: 50vw;
    margin-left: 50px;
    max-width: 400px;
    list-style: none;
  }

  ul.menu li {
    float: left;
    width: 20%;
  }

  ul.menu a {
    display: block;
    text-align: center;
    padding: 0 30px;
    height: 60px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    color: white;
    transition: .3s;
    z-index: 999;
  }

  .menu a:hover {
    background-color: c5c6c7;
    color: #ef4c23;
    transform: scale(1.1);
  }

  .hamburger {
    width: 130px;
    height: 50px;
    line-height: 100px;
    top: 0;
    right: 0;
    z-index: 999999999999;
  }

  .hamburger p {
    top: -2px;
    right: 0;
    line-height: 50px;
    padding: 0 50px;
    font-size: 13px;
    transition: .3s;
  }

  .hamburger i {
    top: 0;
    right: 20px;
    line-height: 50px;
    font-size: 20px;
    transition: .3s;

  }

  .animationAstronaut {
    position: absolute;
    top: calc(50% + 25px);
    right: 0;
    transform: translate(0, -50%);
    width: 39vw;
    height: 39vw;
  }


  .animationAstronaut .astronaut {
    top: 30%;
    right: 8%;
    height: 40%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38vw;
    height: 38vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 23%;
    height: 17%;
  }

  .journey {
    font-size: 75px;
  }

  .front {
    font-size: 26px;
  }

  .clock .duration {
    padding: 5px;
  }

  .clock {
    font-size: 20px;
  }

  .clock p.duration {
    font-size: 15px;
    margin-bottom: -5px;
  }

  .clock span {
    width: 50px;
    padding-bottom: 2%;
  }

  button.buttonBig {
    width: 350px;
    height: 85px;
    font-size: 36px;
    margin-top: 50px;
    border: 2px solid #ef4c23;
  }

  button.buttonBig:hover {
    background-color: #ef4c23;
    color: white;
  }


  .slideDown i {
    font-size: 60px;
  }

}

@media (min-width: 1350px) and (orientation: landscape) {
  .journey {
    font-size: 90px;
  }

  .front {
    font-size: 30px;
  }


}


/* SECTION ABOUT ME */
main section.me {
  overflow: hidden;
  min-height: 300px;
  min-width: 300px;
  max-width: 2000px;
}

.blackBgcTwinkAbout {
  opacity: 0;
}

.blackBgcStarsAbout {
  transform: translateY(-100%);
  transition: 4s;
  animation: opacityBgc 50s infinite;
}

.blackBgcStarsAbout.opacityBgc {
  transform: translateY(0);
}


.blackBgcTwinkAbout.opacityBgc {
  opacity: 1;
  transition-delay: 3s;
}

.transformY0 {
  transform: translateY(0);
  transition: 0s !important;
}

div.about .skills .upper span,
div.about .skills .lower span {
  opacity: 0;
  font-size: 20px;
  transition: .5s;
}

div.about .skills .upper span.opacityOn,
div.about .skills .line.opacityOn,
div.about .skills .lower span.opacityOn {
  opacity: 1;
}


@media (orientation: portrait) {

  main section.me {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
  }


  main section.me div.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 35vh;
    /* background-color: cadetblue; */
  }

  main section.me div.header img.imPiotr {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 73%;
  }

  main section.me div.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 55%;
    height: 65vh;
    padding-top: 10px;
    /*background-color: royalblue;*/
  }

  div.about .skills {
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 8px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .skills .upper,
  .skills .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main section.me div.about .line {
    height: 2px;
    background-color: #ef4c23;
    margin: 5px 0;
    width: 100%;
  }

  main section.me div.about p {
    color: black;
    font-family: 'Indie Flower', cursive;
    line-height: 1;
    padding-left: 10%;
    width: 80%;
    font-size: 14px;
  }

  main section.me div.about p.active {
    transform: translateX(0);
  }

  main section.me div.rocket {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    height: 70vh;
  }

  main section.me div.wrapRocket {
    text-align: center;
    width: 70%;
    height: 60%;
    transform: translateY(20%);
    transition: 4s linear;
    position: relative;
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }

  main section.me div.rocket img.rocketImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 300px;
    z-index: 999;
  }

  main section.me div.rocket div.engineSmoke {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 20px;
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, rgba(212, 212, 212, 1) 50%, rgba(244, 244, 244, 0) 100%);
    animation: engineSmoke .5s infinite;
  }

  div.engineSmoke img.engineFire {
    position: absolute;
    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 15%;
    width: 100%;
    transform-origin: top center;
    animation: animateEngineFire .2s infinite;
  }

  img.greyClouds {
    position: absolute;
    bottom: 0;
    right: -3%;
    height: 20vw;
    opacity: 0;
    z-index: 9999;
  }

  img.greyClouds1.active {
    animation: greyCloudsRocket 1s reverse;
    height: 60vw;
  }

  img.greyClouds2.active {
    animation: greyCloudsRocket 2s reverse;
  }

  img.greyClouds3.active {
    animation: greyCloudsRocket 3s reverse;
  }

  img.greyClouds4.active {
    animation: greyCloudsRocket 4s reverse;
  }

}

@media (min-width: 360px) and (orientation: portrait) {

  main section.me div.about {
    padding-top: 20px;
  }

}

@media (min-width: 768px) and (orientation: portrait) {

  main section.me div.about p {
    padding-left: 10%;
    width: 80%;
    font-size: 26px;
  }


  div.about .skills {
    padding-top: 30px;
    font-size: 14px;
    width: 80%;
  }

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 30px;
  }


  main section.me div.about .line {
    height: 5px;
    margin: 5px 0;
    width: 100%;
  }

  main section.me div.rocket {
    flex-basis: 45%;
    height: 70vh;
  }

  main section.me div.wrapRocket {
    width: 70%;
    height: 60%;
    transform: translateY(20%);
  }

  main section.me div.rocket img.rocketImg {
    height: 480px;
  }

  main section.me div.rocket div.engineSmoke {
    top: 200px;
    height: 100vh;
    width: 30px;
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, rgba(212, 212, 212, 1) 50%, rgba(244, 244, 244, 0) 100%);
  }

  div.engineSmoke img.engineFire {
    top: 20%;
    height: 15%;
  }

  @keyframes engineSmoke {
    0% {}


    60% {
      width: 28px;
    }

    100% {}

  }

  img.greyClouds {
    height: 25vw;
  }

  img.greyClouds1.active {
    height: 65vw;
  }

}

@media (min-width: 1024px) and (orientation: portrait) {
  main section.me div.about {
    padding-top: 50px;
  }

  div.about .skills {
    padding-top: 30px;
    font-size: 22px;
    width: 80%;
  }

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 40px;
  }


  main section.me div.about .line {
    height: 8px;
    margin: 8px 0;
    width: 100%;
  }

  main section.me div.about p {
    padding-left: 10%;
    width: 80%;
    font-size: 30px;
  }

  main section.me div.rocket {
    flex-basis: 45%;
    height: 70vh;
  }

  main section.me div.wrapRocket {
    width: 70%;
    height: 60%;
    transform: translateY(20%);
  }

  main section.me div.rocket img.rocketImg {
    height: 650px;
  }

  main section.me div.rocket div.engineSmoke {
    top: 200px;
    height: 100vh;
    width: 40px;
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, rgba(212, 212, 212, 1) 50%, rgba(244, 244, 244, 0) 100%);
  }

  div.engineSmoke img.engineFire {
    top: 20%;
    height: 15%;
  }

  @keyframes engineSmoke {
    0% {}


    60% {
      width: 38px;
    }

    100% {}

  }

  img.greyClouds {
    height: 25vw;
  }

  img.greyClouds1.active {
    height: 65vw;
  }

}


@media (orientation: landscape) {

  main section.me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100vh;
    min-height: 320px;
  }

  main section.me div.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    position: relative;
    min-height: 50px;
  }

  div.about .skills {
    padding: 15px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 8px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100px;
  }

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 15px;
  }

  .skills .upper,
  .skills .lower {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  main section.me div.about .line {
    height: 2px;
    background-color: #ef4c23;
    margin: 5px 0;
    width: 100%;

  }

  main section.me div.header img.imPiotr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-28%, -50%);
    height: 60%;
    min-height: 100px;
  }

  main section.me div.about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 60vh;
    width: 60vw;
    min-height: 100px;
  }

  main section.me div.about p {
    color: black;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    line-height: 1;
    padding: 0 10%;
    width: 100%;
    font-size: 13px;
  }

  main section.me div.rocket {
    transform: translateY(20%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-40%);
  }

  main section.me div.wrapRocket {
    position: relative;
    text-align: center;
    width: 70%;
    height: 70%;
    transition: 4s linear;

  }

  main section.me div.rocket img.rocketImg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    z-index: 9999;
  }

  main section.me div.rocket div.engineSmoke {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 20px;
    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, rgba(212, 212, 212, 1) 50%, rgba(244, 244, 244, 0) 100%);
    animation: engineSmoke .5s infinite;
  }

  div.engineSmoke img.engineFire {
    position: absolute;
    top: 20px;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 90%;
    transform-origin: top center;
    animation: animateEngineFire .2s infinite;
  }

  img.greyClouds {
    position: absolute;
    bottom: 0;
    right: -3%;
    height: 45vh;
    opacity: 0;
    z-index: 9999;
  }

  img.greyClouds1.active {
    animation: greyCloudsRocket 2s reverse;
    height: 60vh;
  }

  img.greyClouds2.active {
    animation: greyCloudsRocket 3s reverse;
  }

  img.greyClouds3.active {
    animation: greyCloudsRocket 4s reverse;
  }

  img.greyClouds4.active {
    animation: greyCloudsRocket 5s reverse;
  }

}

@media (min-height: 321px) and (orientation: landscape) {

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 20px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {

  main section.me {
    justify-content: space-around;
  }


  main section.me div.header img.imPiotr {
    height: 70%;
    min-height: 200px;
  }

  div.about .skills {
    padding-top: 80px;
    font-size: 14px;
    width: 70%;
  }

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 30px;
  }

  main section.me div.about .line {
    height: 4px;
    margin: 8px 0;
    width: 100%;
  }


  main section.me div.about p {
    margin-top: 10%;
    font-size: 18px;
    line-height: 1.2;
  }

  main section.me div.rocket {
    transform: translateY(30%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }


  main section.me div.rocket img.rocketImg {
    width: 170px;
  }

  main section.me div.rocket div.engineSmoke {
    top: 200px;
    height: 100vh;
    width: 30px;
  }

  @keyframes engineSmoke {
    0% {}


    60% {
      width: 28px;
    }

    100% {}

  }

  div.engineSmoke img.engineFire {
    height: 180px;
    top: 130px;

  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }

}

@media (min-width: 1366px) and (orientation: landscape) {

  main section.me div.header img.imPiotr {
    height: 70%;
  }

  div.about .skills .upper span,
  div.about .skills .lower span {
    font-size: 40px;
  }

  main section.me div.about p {
    margin-top: 7%;
    font-size: 20px;
    max-width: 1000px;
  }


  main section.me div.rocket {
    transform: translateY(20%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }


  main section.me div.rocket img.rocketImg {
    width: 230px;
  }


  div.engineSmoke img.engineFire {
    height: 180px;
    top: 300px;
  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }

}

@media (min-width: 1500px) and (orientation: landscape) {

  main section.me div.header {
    min-height: 350px;
  }

  main section.me div.header img.imPiotr {
    height: 70%;
  }


  main section.me div.about p {
    margin-top: 7%;
    max-width: 800px;
  }


  main section.me div.rocket {
    transform: translateY(10%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-25%);
  }


  main section.me div.rocket img.rocketImg {
    width: 230px;
  }


  div.engineSmoke img.engineFire {
    height: 180px;
    top: 300px;
  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }
}

/* SECTION SKILLS */

main section.mySkills {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 2000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.moonSkills {
  position: absolute;
  height: 45vh;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.mySkills .skillsTextHeader {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 100vw;
  justify-content: center;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
}


.mySkills .skillsTextHeader h2 {
  font-weight: normal;
}

.mySkills .skillsTextHeader span {
  color: #ef4c23;
}


.mySkills .skillsColumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100vw;
  height: 30vh;
  padding: 0 10px;
}


.skillsColumn .skillInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: 40vw;
  min-width: 100px;
  max-width: 200px;
  height: 30px;
  padding: 10px;
  margin: 5px 5px;
  background-color: #ef4c23;
  color: white;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  transition: .3s;
}

.skillInfo p.skillDescription {
  display: none;
  font-size: 20px;
}

.skillInfo {
  /* opacity: 0; */
  transition: .3s;
}

.skillInfo.opacityOn {
  opacity: 1;
}

.skillsColumn .skillInfo:hover {
  background-color: white;
  color: #ef4c23;
  border: 2px solid #ef4c23;
  cursor: pointer;
}

.skillsColumn .skillInfo:hover .vl {
  border-left: 2px solid #ef4c23;
}

.skillInfo .vl {
  border-left: 1px solid white;
  height: 20px;
}

.skillInfo .skill i {
  font-size: 20px;
}

.skillInfo .showMore i {
  font-size: 10px;
}

.skillInfo p {
  font-size: 10px;
}





.skillsPopup {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100vw;
  min-width: 300px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ef4c23;
  transition: .3s;
  transform: translate(0, 100%);
}


.skillsPopup.show {
  animation: popUp 1s alternate;
  animation-fill-mode: forwards;
}

.skillsPopup {
  animation: popUpHide 1s alternate;
  animation-fill-mode: forwards;
}


.skillsPopup .popUpDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100vh;
  width: 100vw;
}

.skillsPopup .wrapTittle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 12vh;
  position: relative;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: white;
}

.skillsPopup .tittle {
  background-color: #ef4c23;
  z-index: 99;
}

.skillsPopup .wrapTittle h3,
h2 {
  font-weight: normal;
}

.skillsPopup .wrapTittle h2 {
  font-size: 30px;
}

.wrapTittle .tittle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 6vh;
  padding: 0 10px;
  top: 0;
  z-index: 99;
}

.wrapTittle .levelBorder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8.5vh;
  width: 50vw;
  position: absolute;
  bottom: 0;
  border: 2px solid white;
}

.popUpDescription p {
  font-size: 10px;
  max-width: 60%;
  color: white;
  font-family: 'Indie Flower', cursive;
  padding: 20px 0;
}

.popUpDescription button {
  display: block;
  width: 70px;
  height: 30px;
  font-size: 13px;
  margin-top: 5px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  background-color: transparent;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 990;
  transition: .5s;
  letter-spacing: 2px;
}

.popUpDescription button:hover {
  background-color: white;
  color: #ef4c23;
}



@media (min-width: 320px) and (orientation: portrait) {
  .moonSkills {
    height: 60vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {

  .moonSkills {
    height: 50vh;
  }

  .mySkills .skillsTextHeader {
    font-size: 45px;
  }

  .mySkills .skillsColumn {
    width: 100vw;
    height: 20vh;
    padding: 0 10px;
  }

  .skillsColumn .skillInfo {
    flex-basis: 40vw;
    min-width: 100px;
    max-width: 200px;
    height: 40px;
    padding: 15px;
    margin: 10px 10px;
  }

  .skillInfo .vl {
    border-left: 1px solid white;
    height: 20px;
  }

  .skillInfo .skill i {
    font-size: 25px;
  }

  .skillInfo .showMore i {
    font-size: 15px;
  }

  .skillInfo p {
    font-size: 15px;
  }

  .wrapTittle .levelBorder {
    border: 3px solid white;
  }

  .skillsPopup .wrapTittle .level {
    font-size: 25px;
  }

  .skillsPopup .wrapTittle .tittle {
    font-size: 50px;
  }

  .popUpDescription p {
    font-size: 20px;
  }

  .popUpDescription button {
    width: 100px;
    height: 40px;
    font-size: 17px;
    margin-top: 10px;
    border: 2px solid white;
  }


}

@media (min-width: 1024px) and (orientation: portrait) {

  .mySkills .skillsTextHeader {
    font-size: 60px;
  }

  .mySkills .skillsColumn {
    width: 100vw;
    height: 20vh;
    padding: 0 20px;
  }

  .skillsColumn .skillInfo {
    flex-basis: 50vw;
    min-width: 100px;
    max-width: 250px;
    height: 50px;
    padding: 20px;
    margin: 15px 15px;
  }

  .skillInfo .vl {
    border-left: 2px solid white;
    height: 30px;
  }

  .skillInfo .skill i {
    font-size: 30px;
  }

  .skillInfo .showMore i {
    font-size: 17px;
  }

  .skillInfo p {
    font-size: 17px;
  }

  .skillsPopup .wrapTittle .level {
    font-size: 30px;
  }

  .skillsPopup .wrapTittle .tittle {
    font-size: 55px;
  }

  .popUpDescription p {
    font-size: 25px;
    margin: 50px 0;
  }

  .popUpDescription button {
    width: 110px;
    height: 50px;
    font-size: 20px;
  }

}

@media (orientation: landscape) {

  .moonSkills {
    transform-origin: center;
    transform: rotate(-90deg);
    position: absolute;
    height: 55vw;
    max-width: 70vw;
    top: 0;
    right: 0;
    z-index: -1;
  }

  main section.mySkills {
    justify-content: flex-start;
  }


  .mySkills .skillsTextHeader {
    height: 30vh;
    width: 60vw;
    font-size: 20px;
  }


  .mySkills .skillsColumn {
    width: 60vw;
    height: 40vh;
  }

  .skillsColumn .skillInfo {

    height: 30px;
    flex-basis: 130px;
    padding: 5px;
    margin: 5px;
  }

  .skillsPopup {
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transform: translate(100%, 0);
    opacity: 0;
  }


  .skillsPopup.show {
    animation: popUpHorizontal 1s alternate;
    animation-fill-mode: forwards;
  }

  .skillsPopup {
    animation: popUpHideHorizontal 1s alternate;
    animation-fill-mode: forwards;
  }

  .skillsPopup .popUpDescription {
    width: 40vw;
  }

  .skillsPopup .wrapTittle {
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
  }


  .skillsPopup .wrapTittle h2 {
    font-size: 30px;
  }

  .wrapTittle .tittle {
    height: 10vh;
    padding: 0 10px;
  }

  .wrapTittle .levelBorder {
    height: 13vh;
    width: 30vw;
    font-size: 13px;
  }

  .popUpDescription p {
    font-size: 11px;
    max-width: 90%;
    padding: 20px 0;
  }

  .popUpDescription button {
    width: 70px;
    height: 30px;
    font-size: 12px;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 25px;
  }

}

@media (min-width: 640px) and (orientation: landscape) {

  .moonSkills {
    height: 60vw;
    max-width: 70vw;
  }


  .mySkills .skillsTextHeader {
    height: 30vh;
    width: 50vw;
  }


  .mySkills .skillsColumn {
    width: 50vw;
    height: 50vh;
  }

  .skillsColumn .skillInfo {

    height: 30px;
    flex-basis: 130px;
    padding: 10px;
    margin: 10px 10px;
  }

  .skillsPopup {
    width: 50vw;
  }


  .skillsPopup .popUpDescription {
    width: 50vw;
  }

  .skillsPopup .wrapTittle {
    width: 50vw;
  }

}

@media (min-width: 1024px) and (orientation: landscape) {

  .mySkills .skillsTextHeader {
    font-size: 40px;
  }

  .mySkills .skillsColumn {
    padding: 0 10px;
  }

  .skillsColumn .skillInfo {

    height: 50px;
    padding: 20px;
    margin: 10px 10px;
    flex-basis: 200px;
  }

  .skillInfo .vl {
    border-left: 2px solid white;
    height: 20px;
  }

  .skillInfo .skill i {
    font-size: 25px;
  }

  .skillInfo .showMore i {
    font-size: 15px;
  }

  .skillInfo p {
    font-size: 15px;
  }

  .skillsPopup .wrapTittle .level {
    font-size: 26px;
  }

  .skillsPopup .wrapTittle .tittle {
    font-size: 55px;
    height: 12vh;
  }

  .wrapTittle .levelBorder {
    border-width: 3px;
  }

  .popUpDescription p {
    font-size: 22px;
    margin: 50px 0;
    max-width: 80%;
  }

  .popUpDescription button {
    width: 110px;
    height: 50px;
    font-size: 20px;
  }
}

@media (min-width: 1300px) and (orientation: landscape) {

  .moonSkills {
    transform-origin: center;
    transform: rotate(-90deg);
    position: absolute;
    height: 90vh;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .mySkills .skillsTextHeader {
    width: 50vw;
    justify-content: center;
    max-width: 1000px;
  }


  .mySkills .skillsColumn {
    width: 50vw;
    height: 30vh;
    padding: 0 100px;
    justify-content: center;
  }

  .mySkills .skillsColumn {
    max-width: 1000px;
  }

  .skillsPopup .popUpDescription {
    width: 40vw;
  }

  .skillsPopup .wrapTittle {
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 17vh;
  }


  .skillsPopup .wrapTittle h2 {
    font-size: 30px;
  }

  .wrapTittle .tittle {
    height: 10vh;
    padding: 0 10px;
  }

  .wrapTittle .levelBorder {
    height: 10vh;
    width: 20vw;
  }

  .wrapTittle .levelBorder h3 {
    z-index: 99;
  }

  .popUpDescription p {
    max-width: 70%;
  }



}


/* SECTION PROJECTSs */

main section.projects {
  overflow: hidden;
  max-width: 2000px;
}

main section.projects .firstProject {
  transform: translateX(-100%);
  transition: .6s;
}


main section.projects .secondProject {
  transform: translateX(100%);
  transition: .6s;
}

main section.projects .secondProject.projectEvenShow,
main section.projects .firstProject.projectOddShow {
  transform: translateX(0);
}

main section.projects .wrapProject {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;
  min-height: 300px;
  min-width: 300px;

}

.wrapProject .projectImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.wrapProject .projectImg div.image {
  position: relative;

  width: 100%;
  height: 100%;
  /* border-radius: 20px;
  border: 4px solid black; */
  background-color: white;
  overflow: hidden;
}

.wrapProject .projectImg div.image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 20%;
  animation: zoomOutImg 1s alternate;
  animation-fill-mode: forwards;

}


.wrapProject div.image:hover img {
  animation: zoomInImg 1s alternate;
  animation-fill-mode: forwards;

}

.wrapProject .projectAbout {
  flex-grow: 1;
  align-content: center;
  margin-top: 40px;
  /* background-color: blue; */
}

.wrapProject .wrapAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 5% 15% 10% 15%;
  text-align: justify;
  z-index: 9999;
}

.wrapProject .wrapAbout h2 {
  display: block;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.wrapProject .wrapAbout h2 span {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #ef4c23;
}

.wrapProject .wrapAbout p {
  display: block;
  font-family: 'Indie Flower', cursive;
  font-size: 14px;
  line-height: 1.2;
  color: black;
  margin: 10% 0;
  padding-right: 5%;
}

.wrapProject .wrapAbout .buttons button {
  margin-top: 10px;
  width: 80px;
  height: 35px;
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid #ef4c23;
  border-radius: 25px;
  letter-spacing: 2px;
  background-color: white;
  color: black;
  transition: .5s ease-in-out;
  outline: none;
  cursor: pointer;
  z-index: 990;
  margin-left: 10px;
}

.wrapProject .wrapAbout .buttons button:hover {
  background-color: #ef4c23;
  color: white;
}

.wrapProject .cloudsLeftStatic,
.wrapProject .cloudsRightStatic {
  position: absolute;
  width: 90%;
  z-index: -99;
}

.wrapProject .cloudLeftStatic1 {
  bottom: 0;
  left: 0;
  animation: greyCloudsStaticLeft 4s infinite;
}

.wrapProject .cloudLeftStatic2 {
  bottom: 0;
  left: 0;
  animation: greyCloudsStaticLeft 7s infinite;
}

.wrapProject .cloudLeftStatic3 {
  bottom: 0;
  left: 0;
  animation: greyCloudsStaticLeft 10s infinite;
}

.wrapProject .cloudLeftStatic4 {
  bottom: 0;
  left: 0;
  animation: greyCloudsStaticLeft 13s infinite;
}




.wrapProject .cloudRightStatic1 {
  bottom: 0;
  right: 0;
  animation: greyCloudsStaticRight 4s infinite;
}

.wrapProject .cloudRightStatic2 {
  bottom: 0;
  right: 0;
  animation: greyCloudsStaticRight 7s infinite;
}

.wrapProject .cloudRightStatic3 {
  bottom: 0;
  right: 0;
  animation: greyCloudsStaticRight 10s infinite;
}

.wrapProject .cloudRightStatic4 {
  bottom: 0;
  right: 0;
  animation: greyCloudsStaticRight 13s infinite;
}



@media (min-width: 768px) and (orientation: portrait) {

  .wrapProject .wrapAbout {
    margin-top: 50px;
  }

  .wrapProject .wrapAbout h2 {
    font-size: 60px;
  }

  .wrapProject .wrapAbout h2 span {
    font-size: 60px;
  }

  .wrapProject .wrapAbout p {
    font-size: 24px;
    line-height: 1.1;
    margin: 10% 0;
    padding-right: 5%;
  }

  .wrapProject .wrapAbout .buttons button {
    margin-top: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #ef4c23;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 990;
    margin-left: 10px;
  }
}


@media (orientation: landscape) {
  .wrapProject .projectAbout {
    height: 70%;
    align-content: center;
    margin-top: 10px;
    min-height: 250px;
  }

  .wrapProject .wrapAbout {
    padding: 3% 15%;
  }

  .wrapProject .wrapAbout h2 {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    font-weight: 400;
  }

  .wrapProject .wrapAbout h2 span {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #ef4c23;
  }

  .wrapProject .wrapAbout p {
    display: block;
    font-family: 'Indie Flower', cursive;
    font-size: 13px;
    line-height: 1.2;
    color: black;
    margin: 3%;
    padding-right: 0;
    max-width: 80%;
  }

  .wrapProject .cloudsLeftStatic,
  .wrapProject .cloudsRightStatic {
    width: 40%;
    max-width: 500px;
  }
}

@media (min-width: 300px) and (orientation: landscape) {

  .wrapProject .projectAbout {
    margin-top: 0;
  }

  .wrapProject .wrapAbout {
    padding: 0 15%;
  }

}

@media (min-width: 640px) and (min-height: 360px) and (orientation: landscape) {

  .wrapProject .projectAbout {
    margin-top: 10px;
  }

  .wrapProject .wrapAbout {
    padding: 3% 15%;
  }

}

@media (min-width: 1024px) and (orientation: landscape) {


  main section.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapProject {
    max-width: 1000px;
  }

  .wrapProject .projectImg {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
  }


  .wrapProject .projectAbout {
    margin-top: 10px;
    flex-grow: 0;
    height: 50%;
  }

  .wrapProject .wrapAbout {
    padding: 3% 15%;
  }

  .wrapProject .wrapAbout h2 {
    font-size: 50px;
  }

  .wrapProject .wrapAbout h2 span {
    font-size: 50px;
  }

  .wrapProject .wrapAbout p {
    font-size: 17px;
    line-height: 1;
    margin: 10% 0 5% 0;
  }

  .wrapProject .wrapAbout .buttons button {
    margin-top: 10px;
    width: 130px;
    height: 43px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #ef4c23;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 990;
    margin-left: 10px;
  }

  .wrapProject .cloudsLeftStatic,
  .wrapProject .cloudsRightStatic {
    width: 80%;
  }
}

@media (min-width: 1400px) and (orientation: landscape) {

  .projects {
    justify-content: center;
  }

  .wrapProject {
    max-width: 1000px;
  }

  .wrapProject .projectImg {
    flex-basis: 50%;
    margin: 0;
    padding: 0;
  }

  .wrapProject .projectAbout {
    margin-top: 50px;
    flex-grow: 0;
    height: 50%;
  }

  .wrapProject .wrapAbout p {
    font-size: 20px;
    line-height: 1;
    margin: 6% 0;
    padding: 0 50px;

  }

  .wrapProject .wrapAbout .buttons button {
    margin-top: 10px;
    width: 130px;
    height: 43px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #ef4c23;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 990;
    margin-left: 10px;
  }

  .wrapProject .cloudsLeftStatic,
  .wrapProject .cloudsRightStatic {
    width: 80%;
  }
}

/* CONTACT */

main section.contact {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  min-height: 320px;
}

.shoe {
  width: 100vw;
  height: 50vh;
  position: relative;
  opacity: 0;
  transition: 1s linear;
}

.shoe.opacityOn {
  opacity: 1;
}

.shoe img {
  width: 80%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.contactForm {
  height: 50vh;
  width: 100vw;
  min-height: 300px;
}

.contactForm h2 {
  padding-top: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.contactForm h2 span {
  color: #ef4c23;
}

.contactForm input,
textarea {
  font-size: 12px;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  margin: 5px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  min-width: 150px;
}

.contactForm textarea {
  height: 40%;
}

.contactForm button {
  margin-top: 10px;
  width: 80px;
  height: 33px;
  font-size: 11px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid #ef4c23;
  border-radius: 25px;
  letter-spacing: 2px;
  background-color: white;
  color: black;
  transition: .5s ease-in-out;
  outline: none;
  cursor: pointer;
  z-index: 990;
  animation: shaking 3s linear infinite;
  min-height: 33px;
}



.contactForm button:hover {
  background-color: #ef4c23;
  color: white;
}

.wrapForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

@media (min-width: 768px) and (orientation: portrait) {

  .contactForm h2 {
    padding-top: 50px;
    font-size: 55px;
  }


  .contactForm input,
  textarea {
    font-size: 16px;
    margin: 10px;
    width: 60%;
    border-radius: 7px;
    padding: 10px;
  }

  .contactForm textarea {
    height: 40%;
  }

  .contactForm button {
    margin-top: 10px;
    width: 130px;
    height: 55px;
    font-size: 18px;
  }

}

@media (orientation: landscape) {
  main section.contact {
    flex-direction: row;
  }

  .shoe {
    width: 50vw;
    height: 100vh;
    position: relative;
  }

  .shoe img {

    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .contactForm {
    height: 90vh;
    width: 50vw;
    min-height: 300px;
  }
}

@media (min-width: 1024px) and (min-height: 600px) and (orientation: landscape) {

  .contactForm {
    height: 90vh;
    width: 50vw;
    min-height: 300px;
  }

  .contactForm h2 {
    padding-top: 50px;
    font-size: 55px;
  }


  .contactForm input,
  textarea {
    font-size: 16px;
    margin: 10px;
    width: 60%;
    border-radius: 7px;
    padding: 10px;
  }

  .contactForm textarea {
    height: 40%;
  }

  .contactForm button {
    margin-top: 10px;
    width: 130px;
    height: 55px;
    font-size: 18px;
  }

  .shoe img {
    max-height: 600px;
  }

}

/* FOOTER */

footer {
  height: 5vh;
  background-color: black;
}

footer p {
  color: #d2d2d2;
  font-family: 'Oswald', sans-serif;
  font-size: 8px;
  font-weight: 400;
  text-align: center;
  line-height: 5vh;
}

@media (min-width: 1024px) and (orientation: landscape) {


  footer p {
    font-size: 15px;
  }

}


/* overlay popup */

.overlay {
  position: fixed;
  top: 0;
  background-color: white;
  opacity: .9;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: none;
  transition: .3s;
}

.overlay.show {
  display: block;
  opacity: .9;
}

.popUp {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  height: 20vh;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  background-color: #ef4c23;
  color: white;
  z-index: 9999;
  transform: translate(0, 100%);
  white-space: pre;
}

.popUpTexts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

.popUpTextSmall {
  font-size: 15px;
}

.popUp.showPopup {
  animation: popUp 1s;
  animation-fill-mode: forwards;
}

.popUp.hidePopup {
  animation: popUpHide 1s;
  animation-fill-mode: forwards;
}

.popUp button {
  display: block;
  text-align: center;
  width: 80px;
  height: 33px;
  font-size: 11px;
  border: 1px solid white;
  background-color: #ef4c23;
  color: white;
  border-radius: 25px;
  letter-spacing: 2px;
  transition: .5s ease-in-out;
  outline: none;
  cursor: pointer;
  z-index: 990;
  min-height: 33px;
}

.popUp button:hover {
  border: 1px solid #ef4c23;
  background-color: white;
  color: #ef4c23;
}

@media (min-width: 768px) and (orientation: portrait) {
  .popUp {
    height: 18vh;
    font-size: 30px;
    justify-content: space-evenly;
  }

  .popUpTextSmall {
    font-size: 25px;
  }

  .popUp button {
    width: 100px;
    height: 45px;
    font-size: 15px;
    border: 2px solid white;
  }
}

@media (orientation: landscape) {

  .popUp {
    height: 30vh;
    font-size: 20px;
  }

  .popUpTextSmall {
    font-size: 15px;
  }

  .popUp button {
    width: 60px;
    height: 20px;
    border-radius: 20px;
    font-size: 11px;
    margin-bottom: 5px;
  }

}

@media (min-width: 1024px) and (orientation: landscape) {

  .popUp {
    height: 22vh;
    font-size: 30px;
    justify-content: space-around;
  }

  .popUpTextSmall {
    font-size: 25px;
  }

  .popUp button {
    width: 100px;
    height: 45px;
    font-size: 15px;
    border: 2px solid white;
    margin: 10px;
  }

}

@media (min-width: 1024px) and (orientation: landscape) {
  .popUp button {
    margin-bottom: 30px;
  }
}