@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500&display=swap&subset=latin-ext');
/* font-family: 'Oswald', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap&subset=latin-ext');
/* font-family: 'Roboto', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

/* font-family: 'Indie Flower', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #ef4c23;
}


.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  overflow: hidden;
}

body {
  font-size: 10px;
  width: 100%;
  height: 300vh;
}

@import "susy";
@import "compass/reset";

.stars,
.starsAll,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.starsAll {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99900;
}

.stars {
  z-index: 0;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.starsAll {
  z-index: -10;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling {
  z-index: -44;
  background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: -2;
  background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000px 0;
  }
}

@keyframes astronautHeader {

  100% {
    transform: translate(10%, 8%);
  }
}

@keyframes circleOut {

  80% {
    transform: scale(3);
  }

  100% {
    opacity: 0;
  }

}

@keyframes slideDown {

  100% {
    transform: translate(0, 150%);
  }

}

/* ANIMATION ROCKET */
@keyframes opacityBgc {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 1000px;
  }

}


@keyframes engineSmoke {
  0% {}


  60% {
    width: 18px;
  }

  100% {}

}

@keyframes animateEngineFire {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1deg);
  }
}

@keyframes greyCloudsRocket {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }


  60% {
    opacity: .9;
    transform: translate(30%, 5%);
  }

  100% {
    opacity: 0;
    transform: translate(10%, 0);
  }

}


.white {
  color: white !important;
}

.bgcTrans {
  background-color: transparent !important;
}

.buttonBig span.off {
  display: none;
}

.transitionText {
  transition: 3s ease-in-out;
}

header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* display: none; */
}

.animationAstronaut {
  position: relative;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -3;
  background-color: black;
  width: 151vw;
  height: 151vw;
  border-radius: 50%;
}

.animationAstronaut .astronaut {
  top: 15%;
  right: 15%;
  position: absolute;
  height: 35%;
  animation: astronautHeader 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
  z-index: 1001;
}

.animationAstronaut .circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150vw;
  height: 150vw;
  position: absolute;
  z-index: 1002;
  opacity: 1;
}

.animationCircleOut {
  animation: circleOut 4s forwards;
}

.animationAstronaut .earth {
  top: 20%;
  left: 22%;
  position: absolute;
  height: 17%;
  z-index: 999;
}

.textArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  text-align: center;
  padding: 20px 0;
  height: 45%;
}

.journey {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  white-space: nowrap;
  color: black;
}

.front {
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 17px;
  white-space: nowrap;
}

button.buttonBig {
  margin-top: 10px;
  width: 150px;
  height: 45px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border: 1px solid #ef4c23;
  border-radius: 25px;
  letter-spacing: 2px;
  background-color: white;
  color: black;
  transition: .5s ease-in-out;
  outline: none;
  cursor: pointer;
  z-index: 990;
}

.slideDown {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  width: 150px;
  overflow: hidden;
  text-align: center;
}

.slideDown i {
  color: white;
  transform: scaleX(2);
  animation: slideDown 1.7s linear infinite;
}

ul.menu {
  display: none;
}

nav {
  position: fixed;
  width: 100%;
  height: 31px;
  z-index: 999999;
}

.hamburger {
  height: 31px;
  width: 70px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  border-radius: 15px 0 0 15px;
}

.hamburger p {
  position: absolute;
  top: 7px;
  right: 6px;
  color: white;
  padding: 0 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 10px;
  font-weight: 500;
  text-transform: lowercase;
  transition: .3s;
}

.hamburger i {
  position: absolute;
  right: 14px;
  top: 8px;
  font-size: 16px;
  color: white;
  transition: .3s;
}

.hamburger:hover i,
p {
  background-color: c5c6c7;
  color: #ef4c23;
  transform: scale(1.1);
  cursor: pointer;
}

@media (min-width: 320px) and (orientation: portrait) {

  .textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    text-align: center;
    padding: 20px 0;
    height: 45%;
  }

  .journey {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    white-space: nowrap;
    color: black;
  }

  .front {
    font-family: 'Indie Flower', cursive;
    color: black;
    font-size: 20px;
    white-space: nowrap;
  }

  button.buttonBig {
    margin-top: 20px;
    width: 150px;
    height: 45px;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid #ef4c23;
    border-radius: 25px;
    letter-spacing: 2px;
    background-color: white;
    color: black;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    z-index: 990;
  }

  .animationAstronaut {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: -3;
    background-color: black;
    width: 151vw;
    height: 151vw;
    border-radius: 50%;
  }

  .animationAstronaut .astronaut {
    top: 22%;
    right: 15%;
    position: absolute;
    height: 35%;
    animation: astronautHeader 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
    z-index: 1001;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 150vw;
    position: absolute;
    z-index: 1002;
    opacity: 1;
  }

  .animationCircleOut {
    animation: circleOut 4s forwards;
  }

  .animationAstronaut .earth {
    top: 20%;
    left: 22%;
    position: absolute;
    height: 17%;
    z-index: 999;
  }




}

@media (min-width: 768px) and (orientation: portrait) {


  .journey {
    font-size: 100px;
  }

  .front {
    font-size: 40px;
  }

  button.buttonBig {
    width: 300px;
    height: 65px;
    font-size: 32px;
    border: 2px solid #ef4c23;
    letter-spacing: 2px;
  }

  .animationAstronaut {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 131vw;
    height: 131vw;
  }


  .animationAstronaut .astronaut {
    top: 23%;
    right: 10%;
    height: 30%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130vw;
    height: 130vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 20%;
    height: 17%;
  }

  nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
  }

  .hamburger {
    width: 160px;
    height: 70px;
    line-height: 70px;
    background-color: black;
  }

  .hamburger p {
    top: 0;
    right: 30px;
    line-height: 70px;
    padding: 0 50px;
    font-size: 23px;
  }

  .hamburger i {
    top: -13px;
    right: 30px;
    line-height: 100px;
    font-size: 40px;
    color: white;

  }

}

@media (min-width: 1024px) and (orientation: portrait) {

  nav {
    background-color: transparent;
    height: 100px;
  }

  .hamburger {
    width: 200px;
    height: 100px;
    line-height: 100px;
  }

  .hamburger p {
    top: 10px;
    right: 50px;
    line-height: 80px;
    font-size: 30px;
  }

  .hamburger i {
    top: 5px;
    right: 40px;
    line-height: 100px;
    font-size: 50px;
  }

  .journey {
    font-size: 130px;
  }

  .front {
    font-size: 50px;
  }

  button.buttonBig {
    width: 400px;
    height: 85px;
    font-size: 38px;
    border: 2px solid #ef4c23;
    letter-spacing: 2px;
    margin-top: 60px;
  }



}

@media (orientation: landscape) {

  .textArea {
    justify-content: center;
    align-content: center;
    align-items: space-between;
    width: 45%;
    height: 100vh;
  }

  .journey {
    font-size: 40px;
  }

  .front {
    font-size: 16px;
  }

  button.buttonBig {
    width: 150px;
    height: 45px;
    font-size: 18px;
  }

  .slideDown {
    left: 22.5%;
  }

  .slideDown i {
    color: black;
  }

  header {
    max-height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .animationAstronaut {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-10%, -50%);
    width: 49vw;
    height: 49vw;
  }


  .animationAstronaut .astronaut {
    top: 32%;
    right: 10%;
    height: 45%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 48vw;
    height: 48vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 20%;
    height: 23%;
  }


}

@media (min-width: 1024px) and (orientation: landscape) {

  nav {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 50px;
    z-index: 999999;
  }

  ul.menu {
    display: block;
    width: 50vw;
    margin-left: 50px;
    max-width: 400px;
    list-style: none;
  }

  ul.menu li {
    float: left;
    width: 25%;
  }

  ul.menu a {
    display: block;
    text-align: center;
    padding: 0 30px;
    height: 60px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 19px;
    color: white;
    transition: .3s;
    z-index: 999;
  }

  .menu a:hover {
    background-color: c5c6c7;
    color: #ef4c23;
    transform: scale(1.1);
  }

  .hamburger {
    width: 130px;
    height: 50px;
    line-height: 100px;
    top: 0;
    right: 0;
  }

  .hamburger p {
    top: -2px;
    right: 0;
    line-height: 50px;
    padding: 0 50px;
    font-size: 13px;
    transition: .3s;
  }

  .hamburger i {
    top: 0;
    right: 20px;
    line-height: 50px;
    font-size: 20px;
    transition: .3s;

  }

  .animationAstronaut {
    position: absolute;
    top: calc(50% + 25px);
    right: 0;
    transform: translate(0, -50%);
    width: 39vw;
    height: 39vw;
  }


  .animationAstronaut .astronaut {
    top: 30%;
    right: 8%;
    height: 40%;
  }

  .animationAstronaut .circle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38vw;
    height: 38vw;
  }


  .animationAstronaut .earth {
    top: 20%;
    left: 23%;
    height: 17%;
  }

  .journey {
    font-size: 75px;
  }

  .front {
    font-size: 30px;
  }

  button.buttonBig {
    width: 350px;
    height: 85px;
    font-size: 36px;
    margin-top: 50px;
    border: 2px solid #ef4c23;
  }

  button.buttonBig:hover {
    background-color: #ef4c23;
    color: white;
  }

  button.buttonBig:hover {
    background-color: #ef4c23;
    color: white;
  }

  .slideDown i {
    font-size: 60px;
  }

}

@media (min-width: 1350px) and (orientation: landscape) {
  .journey {
    font-size: 90px;
  }

  .front {
    font-size: 35px;
  }
}


/* SECTION ABOUT ME */
main section.me {
  overflow: hidden;
}

.blackBgcTwinkAbout {
  opacity: 0;
}

.blackBgcStarsAbout {
  transform: translateY(-100%);
  transition: 4s;
  animation: opacityBgc 50s infinite;
}

.blackBgcStarsAbout.opacityBgc {
  transform: translateY(0);
}


.blackBgcTwinkAbout.opacityBgc {
  opacity: 1;
  transition-delay: 3s;
}

.transformY0 {
  transform: translateY(0);
  transition: 0s !important;
}



@media (orientation: portrait) {

  main section.me {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
  }

  main section.me div.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: 35vh;
    /* background-color: cadetblue; */
  }

  main section.me div.header img.imPiotr {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 73%;
  }

  main section.me div.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12%;
    flex-basis: 55%;
    height: 65vh;
    /* background-color: royalblue; */
  }

  main section.me div.about p {
    color: black;
    font-family: 'Indie Flower', cursive;
    line-height: 1;
    padding-left: 10%;
    width: 80%;
    font-size: 13px;
  }

  main section.me div.about p.active {
    transform: translateX(0);
  }

  main section.me div.rocket {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    height: 70vh;
  }

  main section.me div.wrapRocket {
    text-align: center;
    width: 70%;
    height: 60%;
    transform: translateY(20%);
    transition: 4s linear;
    position: relative;
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }

  main section.me div.rocket img.rocketImg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 300px;
    z-index: 999;
  }

  main section.me div.rocket div.engineSmoke {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 20px;
    background-color: #ccc;
    animation: engineSmoke .5s infinite;
  }

  div.engineSmoke img.engineFire {
    position: absolute;
    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 15%;
    width: 100%;
    transform-origin: top center;
    animation: animateEngineFire .2s infinite;
  }

  img.greyClouds {
    position: absolute;
    bottom: 0;
    right: -3%;
    height: 20vw;
    opacity: 0;
    z-index: 9999;
  }

  img.greyClouds1.active {
    animation: greyCloudsRocket 1s reverse;
    height: 60vw;
  }

  img.greyClouds2.active {
    animation: greyCloudsRocket 2s reverse;
  }

  img.greyClouds3.active {
    animation: greyCloudsRocket 3s reverse;
  }

  img.greyClouds4.active {
    animation: greyCloudsRocket 4s reverse;
  }

}

@media (min-width: 768px) and (orientation: portrait) {
  main section.me div.about p {
    padding-left: 10%;
    width: 80%;
    font-size: 22px;
  }

  main section.me div.rocket {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
    height: 70vh;
  }

  main section.me div.wrapRocket {
    text-align: center;
    width: 70%;
    height: 60%;
    transform: translateY(20%);
    transition: 4s linear;
    position: relative;
  }

  main section.me div.rocket img.rocketImg {
    height: 400px;
  }

  main section.me div.rocket div.engineSmoke {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 20px;
    background-color: #ccc;
    animation: engineSmoke .5s infinite;
  }

  div.engineSmoke img.engineFire {
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 15%;
    width: 100%;
    transform-origin: top center;
    animation: animateEngineFire .2s infinite;
  }

  img.greyClouds {
    position: absolute;
    bottom: 0;
    right: -3%;
    height: 25vw;
    opacity: 0;
    z-index: 9999;
  }

  img.greyClouds1.active {
    animation: greyCloudsRocket 1s reverse;
    height: 65vw;
  }

  img.greyClouds2.active {
    animation: greyCloudsRocket 2s reverse;
  }

  img.greyClouds3.active {
    animation: greyCloudsRocket 3s reverse;
  }

  img.greyClouds4.active {
    animation: greyCloudsRocket 4s reverse;
  }
}


@media (orientation: landscape) {

  main section.me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    height: 100vh;
  }

  main section.me div.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 50vh;
    width: 60vw;
    position: relative;
  }


  main section.me div.header img.imPiotr {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
  }

  main section.me div.about {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50vh;
    width: 60vw;
  }

  main section.me div.about p {
    color: black;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    line-height: 1;
    padding: 0 10%;
    width: 80%;
    font-size: 13px;
  }

  main section.me div.rocket {
    transform: translateY(20%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-40%);
  }

  main section.me div.wrapRocket {
    position: relative;
    text-align: center;
    width: 70%;
    height: 70%;
    transition: 4s linear;

  }

  main section.me div.rocket img.rocketImg {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100px;
    z-index: 9999;
  }

  main section.me div.rocket div.engineSmoke {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 20px;
    background-color: #ccc;
    animation: engineSmoke .5s infinite;
  }

  div.engineSmoke img.engineFire {
    position: absolute;
    top: 5%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 15%;
    width: 100%;
    transform-origin: top center;
    animation: animateEngineFire .2s infinite;
  }

  img.greyClouds {
    position: absolute;
    bottom: 0;
    right: -3%;
    height: 45vh;
    opacity: 0;
    z-index: 9999;
  }

  img.greyClouds1.active {
    animation: greyCloudsRocket 2s reverse;
    height: 60vh;
  }

  img.greyClouds2.active {
    animation: greyCloudsRocket 3s reverse;
  }

  img.greyClouds3.active {
    animation: greyCloudsRocket 4s reverse;
  }

  img.greyClouds4.active {
    animation: greyCloudsRocket 5s reverse;
  }

}

@media (min-width: 1024px) and (orientation: landscape) {

  main section.me div.header img.imPiotr {
    height: 70%;
  }


  main section.me div.about p {
    margin-top: 10%;
    font-size: 18px;
    line-height: 1.2;
  }

  main section.me div.rocket {
    transform: translateY(30%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }


  main section.me div.rocket img.rocketImg {
    width: 170px;
  }


  div.engineSmoke img.engineFire {
    height: 15%;
    top: 20%;
  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }

}

@media (min-width: 1366px) and (orientation: landscape) {

  main section.me div.header img.imPiotr {
    height: 70%;
  }


  main section.me div.about p {
    margin-top: 7%;
    font-size: 24px;
    max-width: 1000px;
  }


  main section.me div.rocket {
    transform: translateY(20%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-30%);
  }


  main section.me div.rocket img.rocketImg {
    width: 230px;
  }


  div.engineSmoke img.engineFire {
    height: 20%;
    top: 30%;
  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }

}

@media (min-width: 1500px) and (orientation: landscape) {
  main section.me div.header img.imPiotr {
    height: 70%;
  }


  main section.me div.about p {
    margin-top: 7%;
    font-size: 24px;
    max-width: 1000px;
  }


  main section.me div.rocket {
    transform: translateY(10%);
  }

  main section.me div.wrapRocket.active {
    transform: translateY(-25%);
  }


  main section.me div.rocket img.rocketImg {
    width: 230px;
  }


  div.engineSmoke img.engineFire {
    height: 15%;
    top: 30%;
  }

  img.greyClouds {
    height: 45vh;
  }

  img.greyClouds1.active {
    height: 60vh;
  }
}